pre {
  overflow: auto;
  padding: 0.5rem !important;
  border: 1px solid #504945;
}

th {
  text-align: left;
}

table {
  width: 100%;
  border-color: #504945;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.75em;
  font-size: 16px;
  background-color: #282828;
  color: #ebdbb2;
}

.simple-container {
  max-width: 675px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 20px;
}

.simple-print {
  fill: white;
  stroke: white;
}
.simple-print svg {
  height: 100%;
}

.simple-close {
  color: white;
  border-color: white;
}

.simple-ext-info {
  border-top: 1px solid #504945;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 30px;
  line-height: 34px;
}

h2 {
  font-size: 20px;
  line-height: 25px;
}

h3 {
  font-size: 16px;
  line-height: 27px;
  padding-top: 15px;
  padding-bottom: 15px;
}

hr {
  height: 1px;
  background-color: #504945;
  border: none;
  width: 100%;
  margin: 0px;
}

a[href] {
  color: #83a598;
}

a[href]:hover {
  color: #8ec07c;
}

img {
  max-width: 100%;
}

li {
  line-height: 1.5em;
}

aside,
[class*="sidebar"],
[id*="sidebar"] {
  max-width: 90%;
  margin: 0 auto;
  border: 1px solid #504945;
  padding: 5px 15px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

@media (min-width: 1921px) {
  body {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 1.5rem 1rem;
  }
}

.dropdown {
  position: relative;
  margin-right: 3rem;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #1d2021;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  display: block;
  padding: 0.2rem 1rem;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 1;
}

#menu-icon {
  width: 1rem;
  height: 1rem;
}

nav > a {
  padding-right: 0.75rem;
}
